# git submodule add https://github.com/Dennis-Nedry-From-Jurassic-Park/ms-base.git packages/backend/apps/ms-base
[submodule "shared/ms-base"]
	path = shared/ms-base
	ignore = all
	url = https://github.com/Dennis-Nedry-From-Jurassic-Park/ms-base.git
[submodule "shared/ms-auth"]
	path = shared/ms-auth
	ignore = all
	url = https://github.com/Dennis-Nedry-From-Jurassic-Park/ms-auth.git
